<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @house.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @house.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @house.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @house.tel %>
</p>

<div>
<% @house.photos.each do | photo | %>
  <img src="<%= photo.thumb.url %>" />
<% end %>
</div>   
  
<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
