<% @houses.each_with_index do | house, index | %>
  <% if index % 3 == 0 %>
    <div class="card-deck mb-4">
  <% end %>
    <div class="card">
      <img class="card-img-top" src="<%= house.photos.first.thumb.url if house.photos.present? %>" alt="<%= house.title %>">
      <div class="card-block">
        <h4 class="card-title"><%= link_to house.title, house_detail_path(house) %></h4>
        <p class="card-text"><%= house.description %></p>
      </div>
    </div>   
  <% if index % 3 == 2 %>
    </div>
  <% end %>
<% end %>   
